{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block header %}Register{% endblock %}

{% block content %}
    <div class="register-container">
        <form method="post" action="{{ url_for('register') }}" id="register-form">
            <label for="username">Username:</label>
            <input type="text" name="username" required>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            <button type="submit" id="register-button">Register</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a>.</p>
    </div>

    <style>
        body {
            background-color: #282c34;
            color: #61dafb;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: 'Arial', sans-serif;
        }

        .register-container {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            transition: transform 0.3s ease-in-out;
        }

        .register-container:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }

        form {
            max-width: 300px;
            margin: auto;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-size: 16px;
            color: #333;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 20px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            color: #333;
            outline: none;
        }

        button {
            background-color: #61dafb;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #4fa3d1;
        }

        p {
            color: #888;
        }

        a {
            color: #3498db;
            text-decoration: none;
        }

        a:hover {
            color: #2980b9;
        }
    </style>


<script>
    function changeButtonColor() {
        const button = document.getElementById('register-button');
        const randomColor = getRandomColor();
        button.style.backgroundColor = randomColor;
    }

    function getRandomColor() {
        const letters = '0123456789ABCDEF';
        let color = '#';
        for (let i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
</script>
{% endblock %}
</body>
</html>
